.container  {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: limegreen;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    height: 90px;
    width: 100%;
    background-color: #010e04;
    color: #ffffff;
    border-bottom: 5px solid rgb(250, 213, 1);
}

.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hole {
    margin: 1rem;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border:  1px solid rgb(1, 3, 2);
    background-color: rgb(56, 46, 48);
}

 .enemy {
    background-image: url("/src/img/toupeira.jpg");
    background-size: cover;
 }

 .menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .menu-time h2:nth-child(2),
 .menu-score h2:nth-child(2) {
    margin-top: 1rem;
 }

 button {
   text-align: center;
    width: 10rem;
    height: 2rem;
    text-transform: uppercase;
    color: rgb(247, 27, 27);
    background: linear-gradient(325deg, 
    #dddfde 0%, 
    #cbc7ce 30%,
    #0ee73d 70%,
    #27ffed 100% );
 }

 button:focus {
    background: linear-gradient(325deg, 
    #0e1b14 0%, 
    #920b8b 30%,
    #061b0b 70%,
    #3aeedfef 100% );
    color: #27ffed;
 }

 @media (max-width: 600px) {
    .menu {
        gap: 10px;
    }
    .menu  h2{
        font-size: small;
    }

    .menu img {
        width: 80px;
    }

    buttom {
        width: 1rem;
    }

    .hole {
        height: 100px;
        width: 100px;
    }
  }
 

  footer p {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #061b0b;
    color: red;
  }